@media only screen and (min-width:1300px) and (max-width:1920px) {
    .conteiner {
        // max-width: 1920px !important;
    }

    .discover_content-wrap-batton {
        position: relative;
        left: -376px;
        top: -62px;
    }
}