@import "null";
@import "fonts";
@import "libs";


body {
    font-family: 'Airbnb Cerea';
    font-size: 16px;
    background-color: #fff;
}

.conteiner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #F8F8F8;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

.header__menu-wrap {

    font-family: 'Airbnb Cerea';
    font-weight: normal;
    color: #002248;

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & li {
        margin-right: 40px;
        cursor: pointer;
    }

    & li:last-child {
        margin-right: 0px;
    }

    & li:hover {
        color: #3685FB;
    }
    
}

.header__menu-btn {

    font-family: 'Airbnb Cerea';
    font-weight: 500;

    & button {
        border: 1px solid;
        border-color: #3685FB;
        border-radius: 10px;
        padding: 16px 29px;
        background-color: #3685FB;
        color: #fff;
        box-shadow: 0px;
        cursor: pointer;
    }

    & button:hover {
        background-color: #fff;
        color: #3685FB;
    }
}

.header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.header__content-images {

    width: 50%;
    position: relative;

    &-1 img {
        border-radius: 50%;
        border: solid 10px #fff;
        height: 540px;
        width: 400px;
    }

    &-2 img {
        position: absolute;
        top: 177px;
        left: 45%;
        border-radius: 50%;
        border: solid 10px #fff;
        height: 430px;
        width: 320px;
    }
}

.header__content-title {
    width: 50%;
    margin-left: 70px;

    & h4 {
        color: #00B3A0;
        font-family: 'Airbnb Cerea';
        font-weight: normal;
    }

    & h2 {
        font-family: 'Eksell Display';
        font-weight: 550;
        font-size: 60px;
        color: #002248;
    }

    & h2::after {
        content: url(../images/rocet.svg);
    }

    & p {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #697687;
        line-height: 28px;
        letter-spacing: 0.6px;
    }
}

.header__content-title-btn {

    font-family: 'Airbnb Cerea';
    font-weight: bold;
    margin-top: 50px;

    & button {
        border: 1px solid;
        border-color: #3685FB;
        border-radius: 10px;
        padding: 16px 29px;
        background-color: #3685FB;
        color: #fff;
        box-shadow: 0px;
        cursor: pointer;
    }

    & button:hover {
        background-color: #fff;
        color: #3685FB;
    }
}

.header__select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    border-radius: 10px;
    position: relative;
    top: 67px;
}

.header__select-wrap {
    padding: 76.5px 60px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.04);
}

.header__select-wrap:first-child {
    border-radius: 30px 0px 0px 30px;
    padding-right: 30px;
}

.header__select-wrap-content:first-child::before {
    right: 50px;
}

.header__select-wrap-content {


    &::before {
        content: url(../images/down.svg);
        position: absolute;
        top: 81px;
        right: 54px;
        display: inline-block;
	    transition: all 0.3s ease 0s;
        pointer-events: none;
    }
    
}

.select {
    font-family: 'Airbnb Cerea';
    font-weight: 500;
    font-size: 20px;
    color: #002248;
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
    padding-right: 20px;
    cursor: pointer;
}

.header__select-book {
    font-family: 'Airbnb Cerea';
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 40px 61px;
    border: 2px solid;
    border-radius: 0px 30px 30px 0px;
    background-color: #3685FB;
    color: #fff;
    box-shadow: 0px 2.3px 0px 0px rgba(0,0,0,0.04);
    cursor: pointer;

    &-svg {
        font-size: 30px;
    }
}

.header__select-book:hover {
    background-color: #fff;
    color: #3685FB;
}

.find__travel-content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

    &-text1 {
        font-family: 'Airbnb Cerea';
        font-weight: 500;
        color: #00B3A0;
    }

    &-text2 {
        font-family: 'Eksell Display';
        font-weight: 550;
        font-size: 42px;
        color: #002248;
    }

    &-text3 {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #697687;
        width: 570px;
        text-align: center;
    }
}

.find__travel-content-icon {
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    margin-top: 70px;
}

.find__travel-content-icon-wrap {
    border: solid 3px #d3cfcf2f;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 120px;
    
    &:last-child {
        margin-right: 0px;
    }

    & h3 {
        font-family: 'Airbnb Cerea';
        font-weight: 500;
        font-size: 20px;
        color: #002248;
    }

    & p {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        letter-spacing: 1px;
        color: #697687;
        padding: 0px 58px;
        padding-bottom: 70px;
    }
}

.find__travel-content-icon-wrap-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 74px;
}

.suggested__location-content {
    background-color: #F8F8F8;
}

.suggested__location-content-title {
    text-align: left;
    padding-top: 120px;

    & p {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #00B3A0;
    }

    & h3 {
        font-family: 'Eksell Display';
        font-weight: 500;
        font-size: 42px;
        color: #002248;
    }
}

.suggested__location-content-title-about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
        width: 50%;
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #697687;
    }

    &-batton {
        display: flex;
        position: relative;
        left: -40px;
    }
}

.suggested__location-content-title-about-batton-btn-right,
.suggested__location-content-title-about-batton-btn-left {
    padding: 17px 22px;
    background-color: #fff;
    margin-right: 10px;
    cursor: pointer;
    color: #697687;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
        background-color: #3685FB;
        color: #fff;
    }
}

.suggested__location-content-slider {
    margin-top: 70px;
    padding-bottom: 120px;

    &-item1 {
        background-image: url(../images/slide1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: solid 6px #fff;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 40px;
    }

    &-item2 {
        background-image: url(../images/slide2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: solid 6px #fff;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 20px;
    }

    &-item3 {
        background-image: url(../images/slide3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: solid 6px #fff;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 20px;
    }
}

.slick-slide { 
    margin: 0 6px;
}

.suggested__location-content-slider-item1,
.suggested__location-content-slider-item2,
.suggested__location-content-slider-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggested__location-content-slider-item1 {
    margin-right: 20px;
}

.suggested__location-content-slider-item1-wrap,
.suggested__location-content-slider-item2-wrap,
.suggested__location-content-slider-item3-wrap {
    margin: 370px 30px 30px 30px;
    border: solid 1px rgba(0, 34, 72, 0.3);
    background-color: rgba(0, 34, 72, 0.096);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 310px;
    padding: 23px 0px;
}

.suggested__location-content-slider-item1-wrap-title,
.suggested__location-content-slider-item2-wrap-title,
.suggested__location-content-slider-item3-wrap-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding: 0px 20px;
}

.suggested__location-content-slider-item1-wrap-title-hotel {
    font-family: 'Eksell Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

.suggested__location-content-slider-item1-wrap-location,
.suggested__location-content-slider-item2-wrap-location,
.suggested__location-content-slider-item3-wrap-location {
    font-family: 'Airbnb Cerea';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

// Rating

.suggested__location-content-slider-item1-wrap-title-star {
    position: relative;
    font-size: 24px;
}

.suggested__location-content-slider-item1-wrap-title-star::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
}

.rating__item1 {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__active1 {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active1::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}

.suggested__location-content-slider-item2-wrap-title-star {
    position: relative;
    font-size: 24px;
}

.suggested__location-content-slider-item2-wrap-title-star::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
}

.rating__item2 {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__active2 {
    position: absolute;
    width: 82.5%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active2::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}

.suggested__location-content-slider-item3-wrap-title-star {
    position: relative;
    font-size: 24px;
}

.suggested__location-content-slider-item3-wrap-title-star::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
}

.rating__item3 {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__active3 {
    position: absolute;
    width: 105%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active3::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}

.suggested__location-content-slider-item1-wrap-location,
.suggested__location-content-slider-item2-wrap-location,
.suggested__location-content-slider-item3-wrap-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 7px;
}

.discover_content {
    background-image: url(../images/discover.jpg);
    background-repeat: no-repeat;
    background-position: column;
}

.discover_content-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 170px;
    padding-bottom: 170px;

    &-batton {
        width: 8%;
    }

    &-batton img {
        cursor: pointer;
    }
}

.discover_content-wrap-title {

    width: 40%;
    margin-right: -135px;

    & h3 {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #00B3A0;
    }

    & h2 {
        font-family: 'Eksell Display';
        font-weight: 500;
        font-size: 42px;
        color: #002248;
    }

    & p {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #697687;
    }
}

.discover_content-wrap-title-btn {

    font-family: 'Airbnb Cerea';
    font-weight: 500;
    margin-top: 50px;

    & button {
        border: 1px solid;
        border-color: #3685FB;
        border-radius: 10px;
        padding: 16px 29px;
        background-color: #3685FB;
        color: #fff;
        box-shadow: 0px;
        cursor: pointer;
    }

    & button:hover {
        background-color: #fff;
        color: #3685FB;
    }
}

.discover_content-wrap-title-compass img {
    position: relative;
    top: 64px;
    left: -8%;
}

.perfect__travel {
    padding-bottom: 120px;
}

.perfect__travel-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfect__travel-wrap-title {
    width: 46%;

    & h3 {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #00B3A0;
    }

    & h2 {
        font-family: 'Eksell Display';
        font-weight: 500;
        font-size: 42px;
        color: #002248;
    }

    & p {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #697687;
    }
}

.perfect__travel-wrap-title-about {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;

    & h3 {
        font-family: 'Eksell Display';
        font-weight: 550;
        font-size: 32px;
        color: #3685FB;
    }

    & p {
        font-family: 'Airbnb Cerea';
        font-weight: 500;
        font-size: 14px;
        color: #002248;
    }
}

.perfect__travel-wrap-title-about-text-1 {
    padding: 32px 39px;
    margin-right: 15px;
    border: 2px solid #F8F8F8;
    border-radius: 10px;
    margin-bottom: 25px;
    width: 150px;
}

.perfect__travel-wrap-title-about-text-2 {
    padding: 32px 25px;
    margin-right: 15px;
    border: 2px solid #F8F8F8;
    border-radius: 10px;
    width: 150px;
}

.perfect__travel-wrap-picter {
    position: relative;
}

.perfect__travel-wrap-picter-mob {
    display: none;
}

.perfect__travel-wrap-picter-images-img1 {
    border-radius: 50%;
    border: solid 10px #fff;
    height: 540px;
    width: 400px;
}

.perfect__travel-wrap-picter-images-img2 {
    position: absolute;
    top: 172px;
    left: -46%;
    border-radius: 50%;
    border: solid 10px #fff;
    height: 430px;
    width: 320px;
    z-index: 1;
}

.about__us {
    background-color: #F8F8F8;
    padding-top: 120px;
}

.about__us-wrap-title {
    padding: 0px 273px;
    text-align: center;

    & h3 {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #00B3A0;
    }

    & h2 {
        font-family: 'Eksell Display';
        font-weight: 500;
        font-size: 42px;
        color: #002248;
    }

    & p {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #697687;
    }
}

.about__us-wrap-slider-content {
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 600px;
}

.about__us-wrap-slider {
    text-align: center;
    margin-top: 170px;
    width: 500px;
    
}

.about__us-wrap-slider-wrap {
    padding: 30px 50px;
    font-family: 'Airbnb Cerea';
    font-weight: normal;
    background-color: #fff;
    border-radius: 10px;

    &-text p {
        font-size: 14px;
        color: #697687;
    }

    &-text h3 {
        font-size: 12px;
        color: #002248;
    }

    &-text h4 {
        font-size: 10px;
        color: #697687;
    }
}

._icon-tt:before  {
    font-size: 25px;
    color: #3685FB;
}

.about__us-wrap-slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
}

.about__us-wrap-slider .slick-dots li {
    list-style: none;
    margin: 0px 5px;
}

.about__us-wrap-slider .slick-dots button {
    font-size: 0;
    padding: 3px 3px;
    background-color: rgba(105, 118, 135, 0.3);
    border-radius: 50%;
    border: none;
}

.about__us-wrap-slider .slick-dots li.slick-active button {
    background-color: #3685FB;
    padding: 3px 10px;
    border-radius: 11px 11px 11px 11px;
}

.check__our-wrap-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 60px;
}

.check__our-wrap-title-text {

    & h3 {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #00B3A0;
    }

    & h2 {
        font-family: 'Eksell Display';
        font-weight: 500;
        font-size: 42px;
        color: #002248;
        width: 460px;
    }
}

.check__our-wrap-title-btn {
    font-family: 'Airbnb Cerea';
    font-weight: bold;

    & button {
        border: 1px solid;
        border-color: #3685FB;
        border-radius: 10px;
        padding: 20px 49px;
        background-color: #3685FB;
        color: #fff;
        box-shadow: 0px;
        cursor: pointer;
    }

    & button:hover {
        background-color: #fff;
        color: #3685FB;
    }
}

.check__our-wrap-slider {
    margin-bottom: 120px;
}

.check__our-wrap-slider img {
    height: 456px;
    width: 320px;
}

.check__our-wrap-slider-content-1 img {
    border-radius: 45%;
    border: solid 10px #fff;
}

.check__our-wrap-slider-content img {
    border-radius: 10%;
    border: solid 10px #fff;
}

.check__our-wrap-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    background-color: #F3F8FF;
    border-radius: 40px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 110px;
}

.check__our-wrap-bottom-text {
    margin-left: 80px;
    padding-top: 70px;

    & h3 {
        font-family: 'Airbnb Cerea';
        font-weight: normal;
        color: #00B3A0;
    }

    & h2 {
        font-family: 'Eksell Display';
        font-weight: 500;
        font-size: 42px;
        color: #002248;
        width: 460px;
    }
}

.check__our-wrap-bottom-btn {
    padding-bottom: 70px;

    & button {
        border: 1px solid;
        border-color: #3685FB;
        border-radius: 10px;
        padding: 20px 42px;
        background-color: #3685FB;
        color: #fff;
        box-shadow: 0px;
        cursor: pointer;
    }

    & button:hover {
        background-color: #fff;
        color: #3685FB;
    }
}

.check__our-wrap-bottom-img {
    margin-right: 50px;
    margin-bottom: -48px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid rgba(105, 118, 135, 0.1);
    margin-bottom: 30px;
    padding-bottom: 50px;
}

.footer__wrap-list {
    color: #002248;

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & li {
        margin-right: 40px;
    }

    & li:last-child {
        margin-right: 0px;
    }
    
}

.footer__wrap-social {
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
        margin-right: 12px;
    }

    &-icon:last-child {
        margin-right: 0px;
    }
}

.footer__author {
    font-size: 14px;
    color: #697687;
    padding-bottom: 50px;
    text-align: center;
}

a#scrolling {
    background: url(../images/upArrowsvg.svg);
    position: fixed;
    bottom: 10px;
    right: 50px;
    width: 50px;
    height: 50px;
    display: none;
}

a#scrolling:hover {
    background-position: 0 0;
}

.upward {
    position: fixed;
    bottom: 10px;
    right: 40px;
    z-index: 1;
    cursor: pointer;
    // visibility: hidden;
    border-radius: 50px;
    box-shadow: inset 0 0 0 4px #697687;
    // opacity: 0;
    transition: 0.5s;
}

.upward.active {
    bottom: 10px;
    // visibility: visible;
    opacity: 1;
}

.smodal {
    font-family: 'Airbnb Cerea';
    font-weight: normal;
    color: #00B3A0;
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 100;

}

.modalWindow{
    width: 560px;
	height: 550px;
    background: #F8F8F8;
    margin: 180px auto;
}

.modalBody{
    width: 360px;
    background: #F8F8F8;
    margin: 18px auto;

    & textarea {
        resize: none;
    }
}

.modalClose{
    cursor: pointer;
	color: #002248;
	z-index: 1;
	position: relative;
	left: 520px;
	top: -3px;
	font-size: 30px;
	font-weight: bold;
}

@import "mobile";
